In [19]:
import pandas as pd
import json
import os
import datetime
import csv
import numpy as np

In [120]:
file_path = 'Data/vehiclePosition/'
filename = 'Line65_vehiclePosition.csv'

In [101]:
stops_file = 'Data/gtfs3Sept/stops.txt'

In [121]:
df = pd.read_csv(file_path+filename)

In [102]:
stops = pd.read_csv(stops_file)

Converting Time to Normal Format

In [32]:
df.tail(10)

,time,lineID,directionID,distancefromPoint,pointID
1365654,2021-09-07 09:14:22.644000,97.0,9972.0,86.0,5916.0
1365655,2021-09-07 09:14:22.644000,97.0,9972.0,191.0,6314.0
1365656,2021-09-07 09:14:22.644000,97.0,6361.0,0.0,2708.0
1365657,2021-09-07 09:14:22.644000,98.0,2382.0,60.0,5953.0
1365658,2021-09-07 09:14:22.644000,98.0,2382.0,0.0,1951.0
1365659,2021-09-07 09:14:22.644000,98.0,1951.0,0.0,2384.0
1365660,2021-09-07 09:14:22.644000,98.0,2382.0,0.0,2382.0
1365661,2021-09-07 09:14:22.644000,98.0,2382.0,130.0,2610.0
1365662,2021-09-07 09:14:22.644000,98.0,1951.0,34.0,2660.0
1365663,2021-09-07 09:14:22.644000,98.0,2382.0,0.0,2382.0

In [20]:
df['time'] = df['time'].apply(lambda t: datetime.datetime.fromtimestamp(t/1000).strftime('%Y-%m-%d %H:%M:%S.%f'))

In [25]:
df.to_csv(file_path+'vehiclePosition01_test.csv', index=False)

Putting Records for each Line Separately

In [47]:
# Creating a file with the header for each line
csv_line = ['time','lineID','directionID','distancefromPoint','pointID']
for lineID in df['lineID'].unique():
    str_lineID = lineID
    if not np.isnan(lineID):
        str_lineID = int(str_lineID)
    else:
        str_lineID = 'null'
    str_lineID = str(str_lineID)
    with open(f'{file_path}Line{str_lineID}_vehiclePosition.csv', 'w',newline='') as c:
        # create the csv writer
        writer = csv.writer(c)
        # write csv header
        writer.writerow(csv_line)

In [46]:
def one_line_per_file(input_dir, input_f):
    with open(input_dir+input_f, newline='') as csvfile:
        csv_reader = csv.reader(csvfile, delimiter=',')
        old_lineID = '1'
        line_results = []
        for row in csv_reader:  
            lineID = row[1]
            if lineID == old_lineID:
                line_results.append(row)
            else:
                # saved results for a line for particular time
                # write those results to the appropriate file
                with open(f'{file_path}Line{old_lineID}_vehiclePosition.csv', 'a',newline='') as c:
                    writer = csv.writer(c)
                    writer.writerows(line_results)
                # a new result array for the next line
                old_lineID = lineID
                line_results = [row]
        # writing the last batch of results of the file
        with open(f'{file_path}Line{old_lineID}_vehiclePosition.csv', 'a',newline='') as c:
            writer = csv.writer(c)
            writer.writerows(line_results)

In [57]:
# Confirming the number of results match for each line
all_occurences = {}
for i in range(1, 14):
    fileID = str(i).zfill(2)
    filename = f'vehiclePosition{fileID}.csv'
    df = pd.read_csv(file_path+filename)
    occurences = dict(df['lineID'].value_counts())
    if all_occurences == {}:
        all_occurences = dict(occurences)
    else:
        for key in all_occurences:
            if key in occurences:
                all_occurences[key] += occurences[key]

/home/sayyor/.local/share/virtualenvs/race-charts-3Ukbqb5o/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [58]:
all_occurences

{7.0: 529144,
 95.0: 531447,
 82.0: 515924,
 51.0: 500110,
 81.0: 504996,
 92.0: 486408,
 65.0: 423811,
 71.0: 435665,
 8.0: 386756,
 80.0: 390862,
 5.0: 405897,
 93.0: 402974,
 25.0: 387235,
 19.0: 374100,
 46.0: 374030,
 53.0: 367269,
 38.0: 346695,
 3.0: 383543,
 29.0: 352595,
 48.0: 343800,
 49.0: 326486,
 87.0: 308770,
 6.0: 332930,
 1.0: 305454,
 59.0: 296514,
 83.0: 292515,
 55.0: 295709,
 34.0: 271519,
 60.0: 278309,
 54.0: 276552,
 4.0: 282947,
 66.0: 266702,
 97.0: 276705,
 14.0: 272554,
 88.0: 273299,
 64.0: 259764,
 12.0: 238655,
 20.0: 240316,
 36.0: 243214,
 86.0: 250698,
 41.0: 234265,
 56.0: 238414,
 13.0: 231422,
 89.0: 233720,
 45.0: 224191,
 63.0: 231204,
 27.0: 222168,
 2.0: 215114,
 47.0: 201958,
 39.0: 211299,
 58.0: 215717,
 74.0: 211740,
 43.0: 205633,
 28.0: 188596,
 21.0: 196146,
 50.0: 179314,
 44.0: 186908,
 79.0: 183275,
 61.0: 174369,
 37.0: 163857,
 9.0: 131274,
 57.0: 107511,
 70.0: 114793,
 62.0: 120972,
 42.0: 124988,
 75.0: 112767,
 78.0: 107803,
 98.0: 98755,
 17.0: 93979,
 76.0: 63121,
 33.0: 69363,
 69.0: 33083,
 72.0: 42247,
 77.0: 19044}

In [60]:
for key in all_occurences:
    lineID = int(key)
    with open(f'{file_path}Line{lineID}_vehiclePosition.csv', newline='') as csvfile:
        csv_reader = csv.reader(csvfile, delimiter=',')
        row_count = sum(1 for row in csv_reader)
        if row_count-1 != all_occurences[key]:
            print(lineID, row_count-1, all_occurences[key])

In [48]:
for i in range(1, 14):
    fileID = str(i).zfill(2)
    filename = f'vehiclePosition{fileID}.csv'
    one_line_per_file(file_path, filename)
    print(lineID)

01
02
03
04
05
06
07
08
09
10
11
12
13

Analyzing Route 71

In [94]:
# all last stops and number of occurences
df['directionID'].value_counts()

6442    235027
3042    163975
5299     17684
5361      6758
3176       109
5362        81
6435        57
9701        49
2987        23
2888        16
3062        14
3412        12
2975         6
Name: directionID, dtype: int64

In [104]:
# all last stops and number of occurences
df['directionID'].value_counts()

6442    235027
3042    163975
5299     17684
5361      6758
3176       109
5362        81
6435        57
9701        49
2987        23
2888        16
3062        14
3412        12
2975         6
Name: directionID, dtype: int64

Get Arrival Times for each Stop, Direction, Line

In [122]:
df.loc[df['directionID'] == 6442]

                 time  lineID  directionID  distancefromPoint  pointID
0       1630914886924      65         6442                139     2996
1       1630914886924      65         6442                 94     5362
2       1630914886924      65         6442                 52     3451
3       1630914886924      65         6442                254     6308
7       1630914886924      65         6442                787     2905
...               ...     ...          ...                ...      ...
423801  1632241153806      65         6442                329     2792
423802  1632241153806      65         6442                  0     3042
423803  1632241153806      65         6442                  0     2899
423806  1632241153806      65         6442                162     2908
423807  1632241153806      65         6442                 17     3299

[235027 rows x 5 columns]

In [127]:
init_cols = ['pointID', 'arrival_times']
init_cols.extend(['dirID ' + str(x) for x in df['directionID'].unique()])

In [130]:
arrival_ts = pd.DataFrame(columns=init_cols)

In [137]:
arrival_ts

Empty DataFrame
Columns: [pointID, arrival_times, dirID 6442, dirID 3042, dirID 5361, dirID 5299, dirID 5362, dirID 3412, dirID 6435, dirID 3176, dirID 9701, dirID 2888, dirID 2987, dirID 2975, dirID 3062]
Index: []

In [140]:
pointID = 2996
dirID = 6442
df.loc[(df['pointID'] == pointID) & (df['directionID'] == dirID) & (df['distancefromPoint'] == 0)]['time'].apply(lambda t: datetime.datetime.fromtimestamp(t/1000).strftime('%Y-%m-%d %H:%M:%S.%f'))

497       2021-09-06 10:10:43.572000
1590      2021-09-06 10:50:12.951000
2217      2021-09-06 11:14:24.081000
2607      2021-09-06 11:28:40.987000
3098      2021-09-06 11:46:04.269000
                     ...
420394    2021-09-21 16:52:03.457000
420415    2021-09-21 16:52:34.894000
421304    2021-09-21 17:17:51.360000
421821    2021-09-21 17:31:07.940000
423558    2021-09-21 18:13:28.996000
Name: time, Length: 822, dtype: object

In [132]:
for pointID in df['pointID'].unique():

2996
5362
3451
6308
6364
3353
6081
2905
2792
6210
6410
5361
2991
3042
9060
9727
7024
5048
3412
2988
2895
2975
1283
6435
3305
2795
2101
2100
2976
2796
2915
6411
2102
3354
2292
2977
3355
2294
2916
3306
3062
3414
2990
2908
9702
2839
2987
6359
3307
5735
6303
9701
6445
3176
2997
3299
2888
6438
2980
9728
2926
2899
2051
2067
2917
3304
6442
2986
3362
3072
3361
5299
7058