In [71]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import psycopg2 as db

In [46]:
conn = db.connect(host="localhost", user="postgres", password="Master", dbname="gis_db", port="5433")

In [57]:
df = pandas.read_sql("SELECT stop_id, departure_time FROM stop_times WHERE trip_id='112387248235954071'", conn)

C:\Users\User\AppData\Local\Temp\ipykernel_8704\1081960356.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql("SELECT stop_id, departure_time FROM stop_times WHERE trip_id='112387248235954071'", conn)

In [62]:
df = pandas.read_sql("Select date, service_id,trip_id,stop_id,departure_time,departure_time - LAG(departure_time) OVER (ORDER BY date) AS diffrence_time FROM Stop_times inner JOIN trips using (trip_id) inner join calendar_dates using (service_id) WHERE date>'2021-09-02' and date<'2021-09-18' GROUP BY service_id,stop_id,departure_time,trip_id, date ORDER BY date ASC", conn)

C:\Users\User\AppData\Local\Temp\ipykernel_8704\2676567492.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql("Select date, service_id,trip_id,stop_id,departure_time,departure_time - LAG(departure_time) OVER (ORDER BY date) AS diffrence_time FROM Stop_times inner JOIN trips using (trip_id) inner join calendar_dates using (service_id) WHERE date>'2021-09-02' and date<'2021-09-18' GROUP BY service_id,stop_id,departure_time,trip_id, date ORDER BY date ASC", conn)

In [ ]:
df['minutes'] = df['diffrence_time'] / pd.Timedelta(minutes=1)

In [78]:

def my_func(row):
    if row['minutes'] > 12:
        val = '0'
    elif row['minutes'] >0 and row['minutes'] <=12:
        val = '1'
    else:
        val = '-1'
    return val

df['Regularity_Punctuality'] = df.apply(my_func, axis=1)
df.head()

,date,service_id,trip_id,stop_id,departure_time,diffrence_time,minutes,Regularity_Punctuality
0,2021-09-03,236786030,113122487236786030,1063,0 days 05:20:00,NaT,NaN,-1
1,2021-09-03,236786030,113122489236786030,1063,0 days 05:40:00,0 days 00:20:00,20.0,0
2,2021-09-03,236786030,113122490236786030,1063,0 days 05:55:00,0 days 00:15:00,15.0,0
3,2021-09-03,236786030,113122491236786030,1063,0 days 06:11:00,0 days 00:16:00,16.0,0
4,2021-09-03,236786030,113122492236786030,1063,0 days 06:23:00,0 days 00:12:00,12.0,1